.page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  font-size: large;
}

.content {
  --background: var(--ion-color-primary);
}

.grid__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 25vh;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo--turn-left-right infinite alternate 1s linear;
  }
}

@keyframes logo--turn-left-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
