.login-form__profile-icon {
  width: 7em;
  margin: 0 auto;
}

.login-form__grid {
  margin-top: 12vh;
  max-width: 800px;
  width: 90vw;
  text-align: center;
}

.login-form__field {
  margin-top: 16px;
}

.login-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form__auxilliary-text {
  &--small {
    font-size: small;
  }

  &--middle {
    font-size: medium;
  }
}

.login-form__button {
  --background: var(--ion-color-primary);
  width: 100%;
}
