.card {
  &__topbar {
    margin-top: -10px;
  }

  &__container {
    padding: 10px;
    padding-top: 0px;
  }

  &__title {
    font-size: large;
  }

  &__subtitle {
    margin-top: 1em;
  }
}

.dashboard__ellipsis-button {
  margin-top: -0.5em;
  margin-left: 0px;
}

@media (min-width: 600px) {
  .dashboard__menu {
    display: flex;
    justify-content: flex-end;
  }
}
