.card__container {
  padding: 10px;
}

.card__subtitle {
  margin-top: 1em;
}

.dashboard__ellipsis-button {
  margin-top: -0.5em;
  margin-left: 0px;
}

@media (min-width: 600px) {
  .dashboard__menu {
    display: flex;
    justify-content: flex-end;
  }
}
