.splash {
  background: var(--ion-color-primary);
}

.join-page__content {
  margin-top: 12vh;
  max-width: 800px;
  width: 90vw;
  text-align: center;
}

.join-page__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-page__auxilliary-text {
  &--small {
    font-size: small;
    color: white;
  }

  &--medium {
    font-size: medium;
    color: white;
  }

  &--translucent {
    opacity: 0.75;
  }
}

.join-page__button {
  color: var(--ion-color-tertiary);
}
