.sign-up__profile-icon {
  font-weight: bold;
  font-family: berlinSans;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form__content {
  margin-top: 12vh;
  max-width: 800px;
  width: 90vw;
  text-align: center;
}

.signup-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form__auxilliary-text {
  &--small {
    font-size: small;
  }

  &--middle {
    font-size: medium;
  }
}

.signup-form__button {
  color: var(--ion-color-primary);
}
