body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: berlinSans;
  src: url("./assets/Berlin Sans FB Regular.ttf");
}

@font-face {
  font-family: lato;
  src: url("./assets/Lato-Regular.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --ion-font-family: lato;

  --ion-color-primary: #190e28;
  --ion-color-primary-rgb: 25, 14, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #35a7ff;
  --ion-color-primary-tint: #35a7ff;

  --ion-color-secondary: #ffe74c;
  --ion-color-secondary-rgb: 255, 231, 76;
  --ion-color-secondary-contrast: #190e28;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e0b500;
  --ion-color-secondary-tint: #ffd31a;

  --ion-color-tertiary: #35a7ff;
  --ion-color-tertiary-rgb: 53, 167, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0bb8cc;
  --ion-color-tertiary-tint: #24d6ea;

  --ion-color-dark-purple: #30263e;
  --ion-color-dark-purple-contrast: #ffffff;
  --ion-color-dark-purple-shade: #473e53;
  --ion-color-dark-purple-tint: #473e53;

  --ion-color-yellow: #fbe6c7;
  --ion-color-yellow-contrast: #190e28;
  --ion-color-yellow-shade: #e2cfb3;
  --ion-color-yellow-tint: #e2cfb3;

  --ion-color-blue: #b2e7f5;
  --ion-color-blue-contrast: #ffffff;
  --ion-color-blue-shade: #a0d0dd;
  --ion-color-blue-tint: #a0d0dd;

  --ion-color-green: #b6f8c4;
  --ion-color-green-contrast: #190e28;
  --ion-color-green-shade: #a4dfb0;
  --ion-color-green-tint: #a4dfb0;

  --ion-color-danger: #ffb7b7;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #e6a5a5;
  --ion-color-danger-tint: #e6a5a5;

  --ion-color-dark: #222428;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-toastsuccess: #6bf178;
  --ion-color-toastsuccess-rgb: 107, 241, 120;
  --ion-color-toastsuccess-contrast: #000000;
  --ion-color-toastsuccess-contrast-rgb: 0, 0, 0;
  --ion-color-toastsuccess-shade: #5ed46a;
  --ion-color-toastsuccess-tint: #7af286;

  --ion-color-toastdanger: #ff5964;
  --ion-color-toastdanger-rgb: 255, 89, 10;
  --ion-color-toastdanger-contrast: #ffffff;
  --ion-color-toastdanger-contrast-rgb: 255, 255, 255;
  --ion-color-toastdanger-shade: #d33939;
  --ion-color-toastdanger-tint: #f25454;
}

.ion-color-toastsuccess {
  --ion-color-base: var(--ion-color-toastsuccess);
  --ion-color-base-rgb: var(--ion-color-toastsuccess-rgb);
  --ion-color-contrast: var(--ion-color-toastsuccess-contrast);
  --ion-color-contrast-rgb: var(--ion-color-toastsuccess-contrast-rgb);
  --ion-color-shade: var(--ion-color-toastsuccess-shade);
  --ion-color-tint: var(--ion-color-toastsuccess-tint);
}

.ion-color-toastdanger {
  --ion-color-base: var(--ion-color-toastdanger);
  --ion-color-base-rgb: var(--ion-color-toastdanger-rgb);
  --ion-color-contrast: var(--ion-color-toastdanger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-toastdanger-contrast-rgb);
  --ion-color-shade: var(--ion-color-toastdanger-shade);
  --ion-color-tint: var(--ion-color-toastdanger-tint);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-contrast: var(--ion-color-dark);
  --ion-color-tint: var(--ion-color-green-shade);
  --ion-color-shade: var(--ion-color-green-tint);
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow);
  --ion-color-contrast: var(--ion-color-dark);
  --ion-color-tint: var(--ion-color-yellow-shade);
  --ion-color-shade: var(--ion-color-yellow-tint);
}

.ion-color-red {
  --ion-color-base: var(--ion-color-danger);
  --ion-color-contrast: var(--ion-color-dark);
  --ion-color-tint: var(--ion-color-danger-shade);
  --ion-color-shade: var(--ion-color-danger-tint);
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-contrast: var(--ion-color-dark);
  --ion-color-tint: var(--ion-color-blue-shade);
  --ion-color-shade: var(--ion-color-blue-tint);
}

.ion-color-dark-purple {
  --ion-color-base: var(--ion-color-dark-purple);
  --ion-color-contrast: var(--ion-color-dark-purple-contrast);
  --ion-color-tint: var(--ion-color-dark-purple-shade);
  --ion-color-shade: var(--ion-color-dark-purple-tint);
}

ion-button {
  font-weight: 600;
}
