body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: berlinSans;
  src: url("./assets/Berlin Sans FB Regular.ttf");
}

@font-face {
  font-family: lato;
  src: url("./assets/Lato-Regular.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --ion-font-family: lato;

  --ion-color-primary: #190e28;
  --ion-color-primary-rgb: 25, 14, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #35a7ff;
  --ion-color-primary-tint: #35a7ff;

  --ion-color-secondary: #ffe74c;
  --ion-color-secondary-rgb: 255, 231, 76;
  --ion-color-secondary-contrast: #190e28;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e0b500;
  --ion-color-secondary-tint: #ffd31a;

  --ion-color-tertiary: #35a7ff;
  --ion-color-tertiary-rgb: 53, 167, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0bb8cc;
  --ion-color-tertiary-tint: #24d6ea;

  // --ion-color-success: #6bf178;
  --ion-color-success: #7fffc3;
  --ion-color-success-rgb: 107, 241, 120;
  --ion-color-success-contrast: #190e28;
  --ion-color-success-contrast-rgb: 25, 14, 40;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffe74c;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #ff5964;
  --ion-color-danger-rgb: 255, 89, 10;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-button-green: #adfda2;
  --ion-color-button-blue: #11d3f3;
  --ion-color-button-shade-green: #8bcb83;
  --ion-color-button-shade-blue: #0fb9d4;

  --ion-color-toast-success: #b6f8c4;
  --ion-color-toast-green-contrast: #190e28;
}

// ion-fab-button.ion-color-primary {
//   --ion-color-base: linear-gradient(
//     to right,
//     var(--ion-color-button-blue) 0%,
//     var(--ion-color-button-green) 100%
//   ) !important;
//   --ion-color-shade: linear-gradient(
//     to right,
//     var(--ion-color-button-shade-blue) 0%,
//     var(--ion-color-button-shade-green) 100%
//   ) !important;
//   --ion-color-contrast: var(--ion-color-primary) !important;
// }

// ion-fab-button.ion-color-primary {
//   --ion-color-base: #190e28
//   --ion-color-contrast: var(--ion-color-primary) !important;
// }

ion-toast.ion-color-success {
  --background: #b6f8c4;
}

ion-button {
  font-weight: 600;
}
