.session-form__grid {
  margin-top: 12vh;
  max-width: 800px;
  width: 90vw;
}

.session-form__description {
  padding-left: 4px;
}

.session-form__error {
  margin-top: 0px;
}

.session-form__button {
  display: flex;
  justify-content: flex-end;
}
