.navbar {
  &__back-button {
    padding: 0em 1em;
  }

  &__logo {
    max-width: 25px;
    margin: 0rem 1rem 0rem 1rem;
  }

  &__profile-icon {
    font-size: 35px;
  }

  &__title {
    margin-top: 0.5rem;
  }
}

.profile-dropdown {
  &__name {
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 700;
    color: grey;
  }
}
